/** sprite: myCpsprite; sprite-image: url('../../../cssImg/sprite_cb3015770054/img/myCpSprite.png'); sprite-layout: vertical */

.mandatory {
color:black;
background-image: url('data:image/png;base64,RmFrZSB2YWx1ZQ==');  /** sprite-ref: myCpsprite; sprite-margin-top: 8px; sprite-margin-bottom: 5px */
background-repeat: no-repeat;
padding-left : 20px;
font-family: sans-serif, courier, arial;
border : thin solid rgb(250,0,255);
}

.info {
color:black;
background-image: url("data:image/png;base64,RmFrZSB2YWx1ZQ==");  /** sprite-ref: myCpsprite; sprite-margin-top: 8px; sprite-margin-bottom: 5px */
background-repeat: no-repeat;
padding-left : 20px;
margin-top : 80px;
border : thin solid rgb(250,0,255);
}
.tools {
color:black;
background-image: url("../../../cssImg/cb3015770054/style/default/img/myImg3.png");  /** jawr:base64-skip; sprite-ref: myCpsprite; */
background-repeat: no-repeat;
padding-left : 20px;
margin-top : 80px;
border : thin solid rgb(250,0,255);
}/** sprite: mysprite; sprite-image: url('/img/mysprite.png'); sprite-layout: vertical */

.header {
background-image: url("data:image/png;base64,RmFrZSB2YWx1ZQ==");  /** sprite-ref: myCpsprite; */
background-repeat: no-repeat;
height : 74px;
}

div {

padding-top : 8px;
}

.calendar {
background-repeat: no-repeat;
padding-left : 20px;
background-image: url("data:image/png;base64,RmFrZSB2YWx1ZQ==");  /** sprite-ref: myCpsprite; */
	
}

.clock {
background-repeat: no-repeat;
padding-left : 20px;
background-image: url("../../../cssImg/cb3015770054/style/default/img/myImg6.png");  /**  jawr:base64-skip; sprite-ref: myCpsprite; */

}

.tools {
background-repeat: no-repeat;
padding-left : 20px;
background-image: url("data:image/png;base64,RmFrZSB2YWx1ZQ==");  /** sprite-ref: myCpsprite; */
}